

/*css phần ô chọn login hay register*/
.cursor_pointer{
    cursor: pointer;
}

.nav_component{
    padding: 0px 15px;
}
#modal_access{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3); 
    display: none;
    align-items: center;
    justify-content: center;   
}
#login_and_regist{
    position: fixed;
    width: 300px;
    padding: 80px 50px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    display: flex;
    animation: modalFadeIn ease .4s;
}
.login_button{
    margin-right: 10px;
}
.close_button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff; 
    color: #999;
    
}
.close_button:hover{
    background-color: #ccc;
    color: #000;
}

/*user header*/
#user_header{
    position: relative;
}
.user_header{
    border: 2px #28a745 solid;
    cursor: pointer;
}

#logout_header{
    position: absolute;
    top: 100%;
    right: 2px;
    display: none; 
    background-color: #fff;
}

#user_header:hover #logout_header{
    display: block;
}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
